name: Reuse other workflow

on: 
  workflow_dispatch:
      inputs:
        target:
          description: 'Person to Greet'
          type: string
          required: true
          default: World

jobs:
  call-workflow:
    uses: ./.github/workflows/reusable.yml
    with:
      who-to-greet: ${{ github.event.inputs.target }}
  use-output:
    runs-on: ubuntu-latest
    needs: [call-workflow]
    steps:
      - run: echo "Time was ${{ needs.call-workflow.outputs.current-time }}"
